/* Сброс css */
ul {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul[class],
ol[class] {
    list-style: none;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.wrapper {
    width: 1020px;
    margin: 0 auto;
}

.header {
    min-height: 89px;
    background-color: #2d303a;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    border-bottom: 6px solid #323746;
    padding: 0 40px;
}

.header__logo {
    margin-top: 28px;
}

.logo {
    font-size: 26px;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: -1.3px;
}

.header__logo span {
    color: #f06c64;
}

.navigation {
    letter-spacing: -0.08px;
}

.header__navigation {
    margin-top: 42px;

}

.navigation ul {
    display: flex;
}

.navigation li {
    list-style: none;
    margin-left: 13px;
}

.navigation__item {
    text-decoration: none;
    display: block;
    font-size: 12px;
    color: #ffffff;
    font-weight: 700;
    text-align: right;
    cursor: pointer;
}

.navigation__item:hover,
.navigation__item_active {
    color: #f06c64;
}

.navigation__dot {
    font-size: 12px;
    font-weight: 700;
    color: #494e62;
    cursor: default;
}

/*.navigation__dot:hover {*/
/*    color: #494e62;*/
/*}*/

.slider {
    background-color: #f06c64;
    min-height: 594px;
    border-bottom: 6px solid #ea676b;
    position: relative;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    min-height: 1px;
    margin: -1px;
}

/*Arrow*/
.arrow {
    border: solid #ca4549;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 8px;
    border-radius: 14%;
    cursor: pointer;
}

.arrow:hover {
    border-color: #673333;
}

.slider__arrow_left {
    position: absolute;
    top: 284px;
    left: 45px;
    transform: rotate(135deg);
}

.slider__arrow_right {
    transform: rotate(-45deg);
    position: absolute;
    top: 284px;
    right: 43px;
}

/*pictures*/
.picture-1 {
    position: relative;
}

#iphone-vertical-shadow {
    position: absolute;
    left: 112px;
    top: 53px;
}

#iphone-vertical-body {
    position: absolute;
    left: -9px;
    top: 175px;
    transform: rotate(-90deg);
}

#iphone-vertical-screen {
    position: absolute;
    left: 123px;
    top: 115px;
}

#iphone-horizontal-shadow {
    position: absolute;
    left: 547px;
    top: 53px;
    transform: rotateY(180deg) rotateZ(-90deg);
}

#iphone-horizontal-body {
    position: absolute;
    left: 425px;
    top: 174px;
}

#iphone-horizontal-screen {
    position: absolute;
    left: 482px;
    top: 185px;
}

/*services*/
.services {
    background-color: #f2f2f2;
    min-height: 494px;
    border-bottom: 6px solid #ffffff;
    padding: 0 40px;
}

.services__title {
    margin: 0;
    padding-top: 59px;
    display: block;
    font-size: 30px;
    color: #666d89;
    font-weight: 900;
}

.services__text {
    width: 940px;
    min-height: 57px;
    font-size: 18px;
    line-height: 30px;
    margin-top: 18px;
    color: #767e9e;
    font-weight: 300;
    letter-spacing: -0.02px;
}

.services__items-section {
    width: 940px;
    min-height: 232px;
    margin: 48px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item-service {
    display: flex;
    width: 300px;
    height: 85px;
    overflow: hidden;
    text-overflow: clip;
}

.services__item {
    margin-bottom: 38px;
}

.item-service__icon {
    margin-top: 2px;
    margin-right: 1px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid #666d89;
    display: flex;
}

.item-service__icon img {
    margin: auto;
}

.item-service__text-container {
    padding-left: 20px;
    width: 220px;
    min-height: 100px;
    line-height: 18px;
}

.item-service h3 {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    margin: 0;
}

.item-service p {
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    font-weight: 400;
    margin: 10px 0 0 0;
    text-align: justify;
}