body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.wrapper {
    width: 1020px;
    margin: 0 auto;
}

.header {
    height: 89px;
    background-color: #2d303a;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    border-bottom: 6px solid #323746;
}

.header__logo {
    margin: 28px 0 0 40px;
}

.logo {
    font-size: 26px;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: -1.3px;
}

.header__logo span {
    color: #f06c64;
}

.navigation {
    letter-spacing: -0.08px;
}

.header__navigation {
    margin: 26px 39px 0 0;
}

nav ul {
    display: flex;
}

nav li {
    text-decoration: none;
    display: block;
    font-size: 12px;
    color: #ffffff;
    font-weight: 700;
    text-align: right;
    margin: 0 0 0 13px;
    cursor: pointer;
}

nav a {
    all: inherit;
    margin: 0;
}

.navigation__item:hover,
.navigation__item_active {
    color: #f06c64;
}

.navigation__dot {
    color: #494e62;
    cursor: default;
}

.navigation__dot:hover {
    color: #494e62;
}

.slider {
    background-color: #f06c64;
    height: 594px;
    border-bottom: 6px solid #ea676b;
    position: relative;
}

/*Arrow*/
.arrow {
    border: solid #ca4549;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 8px;
    border-radius: 14%;
    cursor: pointer;
}

.arrow:hover {
    border-color: #673333;
}

.slider__arrow_left {
    position: absolute;
    top: 284px;
    left: 45px;
    transform: rotate(135deg);
}

.slider__arrow_right {
    transform: rotate(-45deg);
    position: absolute;
    top: 284px;
    right: 43px;
}

/*pictures*/
.picture {
    position: relative;
}

#iphone-vertical-shadow {
    position: absolute;
    left: 112px;
    top: 53px;
}

#iphone-vertical-body {
    position: absolute;
    left: -9px;
    top: 175px;
    transform: rotate(-90deg);
}

#iphone-vertical-screen {
    position: absolute;
    left: 123px;
    top: 115px;
}

#iphone-horizontal-shadow {
    position: absolute;
    left: 547px;
    top: 53px;
    transform: rotateY(180deg) rotateZ(-90deg);
}

#iphone-horizontal-body {
    position: absolute;
    left: 425px;
    top: 174px;
}

#iphone-horizontal-screen {
    position: absolute;
    left: 482px;
    top: 185px;
}

/*services*/
.services {
    background-color: #f2f2f2;
    height: 494px;
    border-bottom: 6px solid #ffffff;
}

.services__description h2 {
    margin: 0;
    padding: 59px 0 0 40px;
    display: block;
    font-size: 30px;
    color: #666d89;
    font-weight: 900;
}

.services__description p {
    width: 942px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    margin: 18px 0 0 39px;
    color: #767e9e;
    font-weight: 300;
    letter-spacing: -0.02px;
}

.services__items-section {
    width: 940px;
    height: 232px;
    margin: 50px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item-service {
    display: flex;
    width: 300px;
    height: 85px;
    overflow: hidden;
    text-overflow: clip;
}

.services__item {
    margin-bottom: 38px;
}

.item-service__icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid #666d89;
    display: flex;
}

.item-service__icon img {
    margin: auto;
}

.item-service__text-container {
    padding-left: 20px;
    margin-top: -2px;
    width: 220px;
    height: 100px;
    line-height: 18px;
}

.item-service h3 {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    margin: 0;
}

.item-service p {
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    font-weight: 400;
    margin: 10px 0 0 0;
    text-align: justify;
}