/* Сброс css */
ul {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

ul,
ol[class] {
    list-style: none;
}

a {
    text-decoration: none;
}

a:active,
a:focus,
input:active,
input:focus,
textarea:active,
textarea:focus {
    outline: none;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    width: 1020px;
    margin: 0 auto;
}

.header {

}

.header__burger-menu {
    display: none;
}

.header-wrapper {


    position: fixed;
    top: 0;
    z-index: 105;
    width: 1020px;
    height: 89px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.header-wrap {
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.header__logo {
    margin-top: 28px;
}

.logo {
    font-size: 26px;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: -1.3px;
}

.header__logo span,
.header__menu-logo span {
    color: #f06c64;
}

.navigation {

}

.header__navigation {
    margin-top: 42px;

}

.navigation ul {
    display: flex;
}

.navigation li {
    list-style: none;
    margin-left: 13px;
}

.navigation__item {
    text-decoration: none;
    display: block;
    font-size: 12px;
    color: #ffffff;
    font-weight: 700;
    text-align: right;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.navigation__item:hover {
    cursor: pointer;
}

.navigation__item_active {
    color: #f06c64;
    transition: color 0.2s linear;
}

.navigation__dot {
    font-size: 12px;
    font-weight: 700;
    color: #494e62;
    cursor: default;
}

#menu-icon {
    display: none;
}

main {
    margin-top: 95px;
}

.slider {
    position: relative;
    transition: 0.5s;
}

.slider__Picture-wrapper {
    overflow: hidden;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    transition: all .4s;
    height: 594px;
}

.second-picture {
    background-color: #648BF0;
    border-bottom: 6px solid #5c6ecb;
}

.picture-1 {
    position: relative;
    transition: transform .2s;
    z-index: 100;
}

.picture-2 {
    position: relative;
    transition: transform .2s;
}

.slider_left-offset {
    transform: translate(-90%);
    /*transition: transform .2s;*/
}

.slider_right-offset {
    transform: translate(90%);
    /*transition: transform .2s;*/
}

.hidden_opacity {
    opacity: 0;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

/*Arrow*/
.arrow {
    border: solid rgba(0, 0, 0, 0.2);
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 8px;
    border-radius: 14%;
    cursor: pointer;
    transition: all 0.2s ease-out;
    z-index: 101;
}

.arrow:hover {
    border-color: rgba(0, 0, 0, 0.45);
    transition: all 0.2s ease-out;
}

.slider__arrow_left {
    position: absolute;
    top: 284px;
    left: 45px;
    transform: rotate(135deg);
}

.slider__arrow_right {
    transform: rotate(-45deg);
    position: absolute;
    top: 284px;
    right: 43px;
}

/*pictures*/


#iphone-vertical-shadow {
    position: absolute;
    left: 112px;
    top: 53px;
}

#iphone-vertical-body {
    position: absolute;
    left: -9px;
    top: 175px;
    transform: rotate(-90deg);
}

#iphone-vertical-screen {
    position: absolute;
    left: 123px;
    top: 115px;
    transition: all .25s;
}


#iphone2-vertical-body {
    position: absolute;
    height: 513px;
    left: 383px;
    top: 43px;
}

#iphone2-vertical-mini1 {
    position: absolute;
    /*width: 156.02px;*/
    /*height: 314px;*/
    left: 252px;
    top: 152px;
    opacity: 0.5;
}

#iphone2-vertical-mini2 {
    position: absolute;
    /*width: 156.02px;*/
    /*height: 314px;*/
    left: 612.16px;
    top: 152px;
    opacity: 0.5;
}

#iphone-horizontal-shadow {
    position: absolute;
    left: 547px;
    top: 53px;
    transform: rotateY(180deg) rotateZ(-90deg);
}

#iphone-horizontal-body {
    position: absolute;
    left: 425px;
    top: 174px;
}

#iphone-horizontal-screen {
    position: absolute;
    left: 482px;
    top: 185px;
    transition: all .25s;
}

.screen_off {
    opacity: 0;
    transition: all .25s;
}

/*services*/
.services {
    background-color: #f2f2f2;
    height: 494px;
    border-bottom: 6px solid #ffffff;
    padding: 0 40px;
}

.services__title {
    margin: 0;
    padding-top: 59px;
    display: block;
    font-size: 30px;
    color: #666d89;
    font-weight: 900;
}

.services__text {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    margin-top: 18px;
    color: #767e9e;
    font-weight: 300;
    letter-spacing: -0.05px;
    overflow: hidden;
    text-align: justify;
}

.services__items-section {
    width: 940px;
    height: 232px;
    margin: 48px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item-service {
    display: flex;
    width: 300px;
    height: 87px;
    overflow: hidden;
    text-overflow: clip;
}

.services__item {
    margin-bottom: 36px;
}

.item-service__icon {
    margin-top: 2px;
    margin-right: 1px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid #666d89;
    display: flex;
}

.item-service__icon img {
    margin: auto;
}

.item-service__text-container {
    padding-left: 20px;
    width: 220px;
    height: 100px;
    line-height: 18px;
}

.item-service h3 {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    margin: 0;
}

.item-service p {
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    font-weight: 400;
    margin: 10px 0 0 0;
    text-align: justify;
}


.portfolio {
    height: 863px;
    background-color: rgb(45, 48, 58);
    border-bottom: solid 6px rgb(50, 55, 70);
}

.block-content {
    width: 940px;
    margin: 0 auto;
}

.portfolio__title {
    padding: 59px 0 0;
    color: #666d89;
}

.portfolio__title h3 {
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 0.2px;
}

.portfolio__text {
    width: 940px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
    letter-spacing: -0.2px;
    margin-top: 18px;
}

.portfolio__buttons {
    display: flex;
    margin-top: 11px;
    padding-left: 1px;
}

.button-portfolio {
    text-decoration: none;
    height: 20px;
    border-radius: 5px;
    background-color: #2d303a;
    border: 1px solid #666d89;
    font-size: 11px;
    line-height: 20px;
    color: #767e9e;
    font-weight: 400;
    /*letter-spacing: 0.27px;*/
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.portfolio__button-item {
    padding: 0 7px;
    margin-right: 10px;
}

.portfolio__button-item_active,
.button-portfolio:hover {
    color: #dedede;
    border: 1px solid #c5c5c5;
    transition: all 0.2s ease-out;
}

.portfolio__pictures {
    max-height: 605px;
    margin-top: 19px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}

.image-portfolio {
    width: 220px;
    height: 187px;
    background-color: #F06C64;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio__image-item {
    margin-bottom: 20px;
    list-style-type: none;
}

.portfolio__image-item_active img {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
}

.about {
    height: 728px;
    background-color: #f2f2f2;
    border-bottom: solid 6px #ffffff;
}


.about__title {
    padding: 59px 0 0;
    color: #666d89;
}

.about__title h3 {
    font-weight: 900;
    font-size: 30px;
}

.about__text {
    width: 940px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
    letter-spacing: -0.2px;
    margin-top: 18px;
}

.about__text p {
    text-align: justify;
}

.about__persons {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.person {
    width: 300px;
}

.person__title {
    height: 22px;
    font-size: 16px;
    color: #666d89;
    font-weight: 900;
    padding-top: 12px;
    padding-left: 1px;
    letter-spacing: -0.25px;
    overflow: hidden;
}

.person__text {
    width: 300px;
    height: 40px;
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    font-weight: 400;
    letter-spacing: -0.25px;
    margin-top: 8px;
    overflow: hidden;
}

.person__title h3 {
    font-size: 18px;
    font-weight: 900;
}

.person__text p {
    text-align: justify;
}

.social {
    display: flex;
}

.person__social {
    margin-top: 26px;
}

.item-social {
    width: 30px;
    height: 30px;
    border-radius: 16px;
    border: 1px solid #666d89;
    display: flex;
}

.item-social:hover {
    cursor: pointer;
}

.social__item {
    margin-right: 8px;
}

.icon-facebook {
    background: url(assest/img/about-us/facebook.png) no-repeat center;
    transition: all 0.2s ease-out;
}

.icon-facebook:hover {
    background: url(assest/img/about-us/facebook-hover.png) no-repeat center #666d89;
    transition: all 0.2s ease-out;
}

.icon-google {
    background: url(assest/img/about-us/google+.png) no-repeat center;
    transition: all 0.2s ease-out;
}

.icon-google:hover {
    background: url(assest/img/about-us/google+-hover.png) no-repeat center #666d89;
    transition: all 0.2s ease-out;
}

.icon-twitter {
    background: url(assest/img/about-us/twitter.png) no-repeat center;
    transition: all 0.2s ease-out;
}

.icon-twitter:hover {
    background: url(assest/img/about-us/twitter-hover.png) no-repeat center #666d89;
    transition: all 0.2s ease-out;
}

.icon-linkedin {
    background: url(assest/img/about-us/linkedin.png) no-repeat center;
    transition: all 0.2s ease-out;
}

.icon-linkedin:hover {
    background: url(assest/img/about-us/linkedin-hover.png) no-repeat center #666d89;
    transition: all 0.2s ease-out;
}


.quote {
    height: 648px;
    background-color: #f06c64;
    border-bottom: solid 6px #ea676b;
}

.block-content {
    width: 940px;
    margin: 0 auto;
}

.quote__description {

}

.quote__title {
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-weight: 900;
    padding-top: 68px;
}

.quote__text {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-weight: 300;
    padding-top: 27px;
    letter-spacing: -0.04px;
    text-align: justify;
}

.form-contact-wrapper {
    display: flex;
    margin-top: 47px;
}

.form-quote {

}

.form-item {
    display: block;
    width: 603px;
    height: 36px;
    border-radius: 5px;
    background-color: #d6564f;
    border: none;
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 20px;
    color: #f48c8f;
    font-weight: 400;
    padding-left: 15px;
    -webkit-box-shadow: inset 0 0 0 50px #d6564f;
    -webkit-text-fill-color: #f48c8f;
}

.form-item__textarea {
    height: 192px;
    width: 602px;
    resize: none;
    padding-top: 8px;
}

.form-item::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 20px;
    color: #f48c8f;
    font-weight: 400;
}

.form-item::-moz-placeholder {
    font-size: 12px;
    line-height: 20px;
    color: #f48c8f;
    font-weight: 400;
}

.form-item:-moz-placeholder {
    font-size: 12px;
    line-height: 20px;
    color: #f48c8f;
    font-weight: 400;
}

.form-item:-ms-input-placeholder {
    font-size: 12px;
    line-height: 20px;
    color: #f48c8f;
    font-weight: 400;
}

.button {

    width: 75px;
    height: 26px;
    border-radius: 5px;
    background-color: #d6564f;
    border: none;
    font-size: 12px;
    line-height: 20px;
    color: #f9cecf;
    font-weight: 400;
    transition: all 0.2s ease-out;
    margin: 0 auto;
}

.form-quote__submit-button {
    /*margin: 0 auto;*/
    display: block;
}

.button:hover {
    background-color: #cf5750;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.button:active {
    background-color: #f1e5e6;
    color: #d6564f;
}

.popup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #0009;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 106;
}

.popup__message {
    /*position: fixed;*/
    padding: 20px;
    /*top: 35%;*/
    /*left: calc(50% - 150px);*/
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
    background-color: #d6564f70;
    max-width: 350px;
    max-height: 350px;
    text-overflow: ellipsis;
    overflow: hidden;
    z-index: 107;
}

.hidden {
    display: none;
}


.form-contact-wrapper__contact-info {
    margin-left: 20px;
}

.contact-info__title {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-weight: 900;
}

.contact-info__text {
    width: 300px;
    height: 80px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-weight: 400;
    padding-top: 10px;
    text-align: justify;
}

.item-contact {
    margin-bottom: 7px;
    display: flex;
}

.image-wrapper {
    width: 13px;
    height: 15px;
    /*display: block;*/
    display: flex;

    align-items: center;
    align-content: center;
    justify-content: center;
}

.item-contact__icon {
    margin: auto;
    /*justify-content: center;*/
    /*vertical-align: center;*/


}

.contact-info__contact-items {
    margin-top: 31px;
    margin-left: 1px;
}

.item-contact__description {
    font-size: 12px;
    color: #f0d8d9;
    font-weight: 400;
    padding-left: 10px;
}

.footer {
    height: 76px;
    background-color: #2d303a;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
}

.footer__copyright {
    font-size: 12px;
    color: #666d89;
    font-weight: 400;
    padding-left: 10px;
}

#about:before,
#portfolio:before,
#quote:before,
#services:before,
#slider:before {
    display: block;
    content: "";
    height: 50px;
    margin: -50px 0 0;
}

#slider:before {
    height: 95px;
    margin: -95px 0 0;
}

/*#contact:before {*/
/*    height: 95px;*/
/*    margin: -95px 0 0;*/
/*}*/

@media (max-width: 1019px) {
    .wrapper {
        width: 100vw;
    }

    .header-wrapper {
        width: 100vw;
    }

    /*slider*/
    .slider__arrow_left {
        top: calc(50% - 12px);
        left: 4vw;;
    }

    .slider__arrow_right {
        top: calc(50% - 12px);
        right: 4vw;;
    }

    .slider__Picture-wrapper::before {
        content: "";
        float: left;
        padding-top: 58vw;
    }


    .slider__Picture-wrapper {
        height: 100%;
    }

    /*.picture-2,*/
    /*.picture-1 {*/
    /*    height: 58vw;*/
    /*}*/
    #iphone-vertical-shadow {

        height: 47.3vw;
        top: 5vw;
        left: 11vw;
    }

    #iphone-vertical-body {
        height: 21vw;
        top: 17vw;
        left: -1vw;
        transform: rotate(-90deg);

    }

    #iphone-vertical-screen {
        height: 33vw;
        top: 11.24vw;
        left: 12vw;
    }


    #iphone2-vertical-body {
        height: 50vw;
        top: 5vw;
        left: calc(50% - (25vw / 2));
    }

    #iphone2-vertical-mini1 {
        height: 31vw;
        left: 25%;
        top: calc(29vw - 27vw / 2);
        opacity: 0.5;
    }

    #iphone2-vertical-mini2 {
        height: 31vw;
        left: 59%;
        top: calc(29vw - 27vw / 2);
        opacity: 0.5;
    }

    #iphone-horizontal-shadow {
        height: 47.3vw;
        top: 5.4vw;
        left: 53.5vw;
    }

    #iphone-horizontal-body {
        height: 21vw;
        top: 17.3vw;
        left: 41.7vw;
    }

    #iphone-horizontal-screen {
        height: 18.9vw;
        top: 18.4vw;
        left: 47.3vw;

    }

    .services__text {
        width: 100%;
        height: auto;
    }

    .services {
        height: auto;
    }

    .services__items-section {
        width: 100%;
        height: auto;
    }

    .item-service__text-container {
        width: calc(100% - 124px)
    }

    .item-service__icon {
        margin-right: 0;
        width: 56px;
        height: 56px;
    }

    .item-service {
        width: 50%;
    }

    .block-content {
        width: calc(100vw - 80px);
    }

    .portfolio {
        height: auto;
    }

    .portfolio__text {
        width: 100%;
    }

    .portfolio__pictures {
        max-height: none;
        margin: 18px -10px 55px;
    }

    .portfolio__image-item {
        margin: 10px;
    }

    .image-portfolio {
        flex: 1 0 25%;
        width: auto;
        height: auto;
    }

    .image-portfolio::before {
        content: "";
        float: left;
        padding-top: 85%;
    }


    .image-portfolio > img {
        width: 100%;
        height: 100%;
    }

    .portfolio__image-item_active > img {
        width: calc(100% - 10px);
        height: calc(100% - 10px);
    }

    .about {
        height: auto;
        padding-bottom: 69px;
    }

    .about__title {
        padding: 52px 0 0;
    }

    .about__text {
        width: 100%;
        margin-top: 14px;
    }

    .about__persons {
        flex: 1 0 25%;
        width: auto;
        height: auto;
    }

    .person {
        width: 32%;
    }

    .person img {
        width: 100%;
    }

    .person__text {
        width: 100%;
        height: auto;
        overflow: auto;
    }

    .quote {
        height: auto;
    }

    .quote__title {
        padding-top: 58px;
    }

    .quote__text {
        width: 100%;
        height: auto;
        padding-top: 23px;
    }

    .form-quote {
        width: calc(66.66% - 15px);
        height: auto;
    }

    .form-contact-wrapper {
        padding-bottom: 40px;
        margin-top: 30px;
    }

    .form-contact-wrapper__contact-info {
        /*flex: 1 0 33%;*/
        /*flex-grow: 1;*/
        width: calc(33.33% - 15px);
        height: auto;
        padding-left: 30px;
        margin-left: 0;
    }

    .form-item {
        width: calc(100% - 16px);
    }

    .form-item__textarea {
        width: calc(100% - 17px);
    }

    .contact-info__text {
        width: 100%;
        height: auto;
    }
}


@media (max-width: 767px) {
    .header__burger-menu {
        display: flex;
        position: fixed;
        top: 0;
        height: 71px;
        width: 100vw;
        background: #2D303A;
        z-index: 105;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
    }


    .header-wrapper {
        z-index: 200;
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 70vw;
        height: 100vh;
        transition: transform .5s ease-in-out;
    }

    .header__wrapper-close {
        transform: translateY(-130vh);
        transition: .5s ease-in-out;
    }

    #menu-icon {
        display: inline;
        position: fixed;
        top: 17px;
        left: 15px;
        color: white;
        font-size: 37px;
        z-index: 250;
    }

    .menu-icon {
        /*transform: rotate(90deg);*/
        transition: .3s ease-in-out;
    }

    .menu-icon_active {
        transform: rotate(90deg);
        transition: .3s ease-in-out;
    }

    .header__menu-logo {
        padding-left: 12px;
    }

    .header-wrapper::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 101vw;
        height: 100vh;
        background: #2D303A;
        opacity: 0.6;
        z-index: -1;
        transition: 0.3s;
    }

    .header-wrap {
        display: block;
    }


    .logo {
        font-size: 20px;
        font-style: normal;
        font-weight: bold;
        line-height: 24px;
        letter-spacing: -0.03em;
    }

    .header__logo {
        margin-top: 24px;
        margin-left: 30px;
    }

    .header__menu-logo {

    }

    .header__navigation {
        margin-top: 24vh;
    }

    .navigation ul {
        display: block;
        margin: 30px;
    }

    .navigation li {
        margin-left: 0;
        padding-bottom: 27px;
    }

    .navigation__item {
        text-align: left;
        font-size: 24px;
    }

    .navigation__dot {
        display: none;
    }


    .block-content {
        width: calc(100vw - 60px);

    }

    main {
        margin-top: 71px;
    }

    .arrow {
        padding: 7px;
    }

    .slider__arrow_left {
        left: 3vw;
    }

    .slider__arrow_right {
        right: 3vw;
    }

    .services {
        padding: 0 30px;
    }

    .services__title {
        padding-top: 23px;
    }

    .services__items-section {
        margin-top: 27px;
    }

    .item-service {
        width: 100%;
    }

    .item-service__text-container {
        width: calc(100vw - 150px);
    }

    .services__item {
        margin-bottom: 32px;
    }


    .image-portfolio {
        flex: 1 0 35%
    }

    .portfolio__title {
        padding-top: 38px;
    }

    .portfolio__buttons {
        margin-top: 16px;
    }

    .portfolio__image-item {
        margin: 7px;
    }

    .portfolio__pictures {
        max-height: calc((100vw - 74px) / 2 * 0.85 * 4 + 50px);
        margin: 18px -7px 55px;
    }

    .portfolio__pictures {
        margin-bottom: 34px;
    }

    .about {
        padding-bottom: 2px;
    }

    .about__title {
        padding: 33px 0 0;
    }

    .about__text {
        letter-spacing: 0;
    }

    .about__persons {
        flex-wrap: wrap;
        margin-top: 28px;
    }

    .person {
        width: 100%;
    }

    .about__person-item {
        margin-bottom: 35px;
    }


    .person__text {
        margin-top: 0;
    }

    .person__social {
        margin-top: 14px;
    }

    .form-contact-wrapper {
        flex-wrap: wrap;
        margin-top: 22px;
        padding-bottom: 35px;
    }

    .form-item {
        margin-bottom: 12px;
    }

    .form-quote {
        width: 100%;
    }

    .form-item__textarea {
        height: 151px;
    }

    .button {
        width: 100%;
        height: 50px;
    }

    .form-contact-wrapper__contact-info {
        width: 100%;
        padding-left: 0;
        padding-top: 32px;
    }

    .contact-info__text {
        padding-top: 4px;
    }

    .contact-info__contact-items {
        margin-top: 16px;
    }

    .footer__copyright {
        display: none;
    }

    .footer {
        justify-content: center;
    }

}


@media (max-width: 374px) {
    .button-portfolio {
        font-size: 9px;
    }

    .portfolio__button-item {
        padding: 0 5px;
        margin-right: 8px;
    }


}
